/* Overrides for Contrast */

QToolButton:hover, QMenu::item:selected {
    color: %:FOCUS:%;
}

QListWidget, QDialog QTextEdit, QDialog QPlainTextEdit, QDialog QLineEdit {
    border-color: %:FOREGROUND:%;
}

QDialog, QMessageBox {
    border: 1px solid %:FOREGROUND:%;
}

QTextEdit, QPlainTextEdit, QLineEdit {
    border: 2px solid %:FOREGROUND:%;
}

QTextEdit:focus, QPlainTextEdit:focus, QLineEdit:focus {
    border: 2px solid %:FOCUS:%;
}

QTabBar::tab::hover, QListWidget::item:hover, QTreeView::item:hover {
    background: %:BORDER:%;
}

QMenu {
    border-width: 3px;
    border-color: %:FOCUS:%;
}

QMenu::separator {
    border-bottom-width: 2px;
    border-bottom-color: %:FOCUS:%;
}

QPushButton, QPushButton:focus {
    margin: 0;
    border-width: 3px;
}

QPushButton {
    border-color: #aaa;
}

QPushButton:hover {
    border: 3px solid white;
    background: %:CONTROL:%;
}

QPushButton:focus, QPushButton:hover {
    background: #222;
    color: %:FOCUS:%;
}

QPushButton:pressed {
    background: %:BACKGROUND:%;
}

QScrollBar::handle {
    background: %:FOREGROUND:%;
}

QScrollBar::add-line, QScrollBar::sub-line {
    background: %:CONTROL:%;
}

QListWidget::item:selected, QListWidget::item:hover, QListWidget::item:focus,
QTreeView::item:selected, QTreeView::item:hover, QTreeView::item:focus {
    color: %:FOREGROUND:%;
}

QListWidget, QTreeView, QTreeView::branch {
    background: %:BACKGROUND:%;
    color: %:FOREGROUND:%;
}